# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build outputs
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ios.ipa
*.android.apk

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Local env
.env
.env.local

# TypeScript build info
*.tsbuildinfo

# Editor
.idea/
.vscode/
